@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    .form-control{
        @apply focus:outline-none focus:border-gray-300 text-sm px-2 mt-2 border border-gray-200 w-3/4 mx-auto py-2  rounded-sm bg-gray-50;
    }
}

@layer utilities{
    .card{
        width:350px;
        height:380px
    }
    .smallcard{
        width:350px;
        height:65px
    }

    @media  (max-width:350px){
        .card, .smallcard{
            width:95vw;      
        }
    }
    
}