@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    .form-control{
        @apply w-3/4 px-2 py-2 mx-auto mt-2 text-sm border border-gray-200 rounded-sm focus:outline-none focus:border-gray-300 bg-gray-50;
    }
}

@layer utilities{
    .hollow{
        @apply w-6 h-6;
        background-image:url('images/heart.png');
        background-size:cover;
        
        
    }
    .makemodal{
        @apply absolute ml-1;
    }
    .filled{
        @apply w-6 h-6;
        background-image:url('images/heart_filled.png');
        background-size:cover;
        
        
    }
    .card{
        width:350px;
        min-height:380px
    }
    .smallcard{
        width:350px;
        height:65px
    }
    .largecard{
        width:350px;
        height:520px
    }
    .maincontainer{
        width:614px;
    }

    .postcard{
        max-height:987px;
    }

    .top{
        height:60px;
    }

    .medium{
        max-height:650px;
    }
    .fill{
        max-height:650px;
    }

    .bottom{
        height:177px;
    }
    @media (max-width:650px){
        .postcard {
            width: 100vw;          
             
        }
       
           
        .maincontainer{
            width: 100vw;
        }
    }

    @media (max-width:500px){
        .postcard{
            min-height: 537px;
        }
        .medium{
            height:350px;
        }
        .fill{
            height:350px;
        }
    }

    @media  (max-width:350px){
        .card, .smallcard, .largecard{
            width:95vw;      
        }
        
        
    }

   
    
}